@page
@model ExploreModel

@{
    ViewData["Title"] = "Instance";
}

<h1>@Model.InstanceUri</h1>

@foreach (var policy in Model.Policies)
{
    <div class="policy">
        <div class="policy-heading">
            <h3>@policy.Id</h3>
            <a class="btn btn-secondary btn-sm" asp-area="" asp-page="/RunQuery"
                asp-route-InstanceUri="@Model.InstanceUri?.ToString()" asp-route-DataPath="@policy.GetPackage().Replace('.','/')">Query</a>
        </div>
        <hr />
        <div class="policy-body"><pre><code class="language-rego">@policy.Raw</code></pre></div>
    </div>
}
